{% extends "base/base_admin.html" %}
{% block css %}
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/agregar_producto.css">
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Domo Chicken - La mejor calidad{% endblock %}
{% block template %}
<h1 class="text-white text-center fw-bold pt-3" style="margin-bottom: 20px;">Modificar</h1>
<div class="container">
    
    <form method="post" class="form" name="form_agregar_usuario" enctype="multipart/form-data" style="max-width: 768px;">
        {% csrf_token %}
        {{form|crispy}}

        <button class="submit">Modificar</button>
        <div class="">¿Necesita modificar las credenciales de inicio de sesión? <a href="">Click aquí</a></div>
    </form>
</div>

{% endblock %}