{% extends "base/base_admin.html" %}
{% block css %}
<link rel="stylesheet" href="../static/css/stock_productos.css">
{% endblock %}
{% block title %}Domo Chicken - Stock de productos{% endblock %}
{% block template %}

<h1 class="text-white text-center pt-3 fw-bold" style="margin-bottom: 20px;">Stock Productos</h1>

<section>
    <div class="container">
        <h1></h1>
        <div class="row">
            {% for x in producto %}
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-6 col-6 d-flex align-items-center justify-content-center">
                <div class="card " style="max-width: 250px;">
                    {% if x.imagenProd %}
                        <img src="{{x.imagenProd.url}}" alt="Error :D" id="img2" class="img">
                    {% else %}
                        <img src="../media/Not_found.png" alt="Error :D" id="img2" class="img">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{x.nombre_producto}} </h5>

                        <p class="card-text"><small class="fw-bold"> Stock: {{x.stock}}</small></p>

                    </div>
                    {% if user.is_authenticated %}
                    <a href="{% url 'solicitar_stock' x.id_producto%}" class="btn btn-primary my-btn">Realizar
                        pedido</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}